# Unity
[Ll]ibrary/
[Tt]emp/
[Bb]uild/
[Bb]uilds/
obj/
UserSettings/
Logs/
MemoryCaptures/
AssetStore/
.DS_Store
*.apk
*.unitypackage

# IDE
.vscode/
.vs/
.idea/
*.sln
*.csproj
*.user
*.pidb
*.suo
*.userprefs
*.booproj
*.svd
.vsconfig
